@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-v2-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/inter-v2-latin_cyrillic-regular.woff") format("woff"); 
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/inter-v2-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/inter-v2-latin_cyrillic-500.woff") format("woff"); 
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-v2-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/inter-v2-latin_cyrillic-700.woff") format("woff"); 
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline-color: red;
    outline-width: 4px;
    outline-offset: 2px;
    outline-style: dashed;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(196, 55, 55);
    color: #222;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1056px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.head-top {
    display: flex;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    border-bottom: 3px solid red;
}

.head-nav {
    margin: 0;
    padding: 0;
}

.logo {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.logo-img {
    margin: 0;
    padding: 0;
    margin-right: 15px;
}

.logo-link {
    margin: 0;
    padding: 0;
    margin-right: 100px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    transition: all 0.3s ease-in-out;
}

.logo-link:hover {
    color: rgb(255, 0, 0);
}

.head-ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.head-li {
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 20px;
    align-items: center;
    text-decoration: none;
}

.head-li:last-child {
    margin: 0;
    padding: 0;
}


.head-li-img {
    display: block;
    margin-right: 10px;
    border-radius: 5px;
}

.head-li-link {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.head-li-link-1:hover {
    color: #ff7500;
    font-size: 18px;
}
.head-li-link-2:hover {
    color: #fff200;
    font-size: 18px;
}

.head-li-link-3:hover {
    color: blue;
    font-size: 18px;
}

/* main */

.timer {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
}

.time {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 120px;
    color: #ffffffff;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
}

.toggleButton {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    margin-right: 30px;
    padding: 0px 12px;
    border-radius: 4px;
    box-shadow: rgb(235, 235, 235) 0px 6px 0px;
    font-size: 22px;
    height: 55px;
    color: rgb(186, 73, 73);
    font-weight: bold;
    width: 200px;
    margin-bottom: 40px;
    background-color: white;
    transition: color 0.5s ease-in-out 0s;
}

.toggleButton:active {
    transform: translateY(6px);
    box-shadow: none;
}

.toggleButton:focus {
    transform: translateY(6px);
    box-shadow: none;
    outline-color: red;
    outline-width: 4px;
    outline-offset: 2px;
    outline-style: dashed;
}

.time-btn-p {
    margin: 0;
    padding: 0;
}

.video {
    margin: 0;
    padding: 0;
    width: 800px;
    height: 450px;
    border-radius: 16px;
    margin-right: auto;
    margin-left: auto;
}

.video:focus {
    outline-color: red;
    outline-width: 4px;
    outline-offset: 2px;
    outline-style: dashed;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
